.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

A{
    width: 20px;
    height: 20px;
}

meds{
float: right;

}

.medicijnA{
    float: right;
}

.container {
    position: relative;
    height: 200px;
}

.vierkant {
    width: 1690px;
    height: 15px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    position: absolute;
    bottom: 25%; 
}